.card {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 50px;
  width: clamp(100px, 25vh, 500px);
  height: clamp(200px, 350px, 600px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card > div {
  margin: 10px;
  flex-grow: 1;
}

.product {
  width: min(20vh, 300px);
  max-height: 300px;
  object-fit: contain;
  margin: 10px;
  flex-grow: 1;
}

.itemTitle {
  font-weight: 500;
  font-size: clamp(14px, 16px, 20px);
  width: 100%;
}

.price {
  font-weight: 800;
  font-size: clamp(15px, 20px, 22px);
}

.critics {
  margin-left: 10px;
  color: gray;
}

.star {
  font-weight: 500;
  font-size: clamp(14px, 18px, 22px);
  color: black;
}

.emoji {
  color: yellow;
  font-size: clamp(16px, 20px, 22px);
}
